
.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .switcher{
  right: 60px;
  left: inherit;
}

.rtl .switcher .switch_menu{
  left: inherit;
  right: 0px;
}

.rtl .scroll-to-top .scroll-bar{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .inner-section{
  direction: ltr;
}

.rtl .slide-text{
  direction: ltr;
}

.rtl .funfact-section .funfact-inner .funfact-block-one{
  margin-right: 0px;
  margin-left: 200px;
}
































